<p id="notice"><%= notice %></p>

<h1>High School DP Featured Contents</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Brief Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dpposts.each do |dppost| %>
      <tr>
        <td><%= dppost.title %></td>
        <td><%= dppost.body %></td>
        <!-- prospective students will be able to view content, however
          they will not be able to edit or destroy content -->
        <td><%= link_to 'Show', dppost %></td>
        <!-- if statement for if user is signed in and sessions is running,
          only these signed in users will be able to have the ability 
          to edit or destroy content -->
        <% if current_user %>
        <td><%= link_to 'Edit', edit_dppost_path(dppost) %></td>
        <td><%= link_to 'Destroy', dppost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_dppost_path %>
<%= link_to 'Back', highSchool_path %>
